.body-class{
  background-color: #e3dac9;
}

.header-class{
  background-color: #ff9999;
}

.nav-class{
  background-color: #98fb98; 
}

.nav-link-class{
  color: #006400;
}

.title-class{
    color: #be0032;
}

.section-title-class{
  color: #9f00c5;
}

.text-class{
  color: #de5285;
}

.image-class{
  border: 5px solid #48d1cc;
}

.form-class{
  background-color: #afeeee;
}

.button-class{
  background-color: #87ceeb;
}

.footer-class{
  background-color: #4682b4;
  color: #191970;
}

.faq-question-class{
  color: #ca1f7b;
}
